/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
td {
    padding: 0px;
}

.new-game-edit {
    width: 45px;
    padding: 0px;
    border-style:none;
    background-color:transparent;
}
